@model List<OnlineCookBook.MongoDB_DataLayer.Entities.Recipe>
@{
    ViewBag.Title = "Recepies";
}
@{
    if (ViewBag.User == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }


}
<link href="~/Content/ViewsCSS/RecepiesViewCSS.css" rel="stylesheet" />

<div class="topImage">
    <input id="controlerUrl" type="hidden" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()" />
    Breakfast is most important Meal of a day
</div>
@foreach (var recipe in Model)
{

    <div class="container mainDiv">
        <div class="itemDiv" >
            @Html.Hidden("RecepieId", @recipe.Id)
            <div class="recepieNameDiv">@recipe.Name</div>
            <div class="ImageDiv">
                <img class="leftImage" src=@recipe.Image />

            </div>
            <div class="dcsDiv">
                <div class="descriptionDiv">
                    @recipe.ShortDsc
                </div>
                <div class="TimeToPrepareDiv">@recipe.PrepareTime min <i class="glyphicon glyphicon-ban-circle"></i>
                <button id=@recipe.Id class="viewButton btn btn-danger">View Recepie</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(".viewButton").on('click', function (e) {

        window.location.href = "FullRecepieView?recepieId=" + e.currentTarget.id;

    });
</script>

