<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online CookBook</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ViewScripts/LayoutJS.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .loginInput{
            float:right;
            margin:15px;
        }
        #loginDiv{
            height:60px;
            background-color:rgb(128, 128, 128);
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "RegisterView", "Home")</li>
                    <li><a id="loginAnchor">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="loginDiv">
      
        <button id="hideButton" class="loginInput btn btn-danger"><i class="glyphicon glyphicon-chevron-up"></i></button>
        <button id="loginButton" class="loginInput btn btn-danger">Login</button>
        <input id="usernameInput" type="text" class="form-control loginInput" placeholder="Username" style="float:right;"/>
        <input id="emailInput" type="email" class="form-control loginInput" placeholder="Email" style="float:right;" />
        <label id="resultLabel" class="loginInput" style="margin-top:23px;"></label>
      

   </div>
        @RenderBody()


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#loginDiv").hide();
        $("#hideButton").on('click', function () {

            $("#loginDiv").hide();

        });

        $("#loginAnchor").on('click', function () {

            $("#loginDiv").show();

        });
        $("#loginButton").on('click', function () {


       
            if ($("#usernameInput").val() == "" || $("#emailInput").val() == "") {
                $("#resultLabel").text("All fields are required!");
                $("#resultLabel").css("color", "red");
                return;
            }



            $.ajax(
                {
                    type: 'POST',
                    url: '/Home/Login',
                    data: JSON.stringify({ username: $("#usernameInput").val(), password: $("#emailInput").val() }),
                    contentType: 'application/json'
                }).success(function (result, status, error) {
                    var message = $.parseJSON(result).message;
                    $("#resultLabel").text(message);
                    $("#resultLabel").css("color", "green");
                    $("#loginDiv").hide();
                    //location.href = $("#controlerUrl").val();
                    location.href = "@Url.Action("Index","Home")";
                });

        });
    </script>
</body>

</html>
